# Ignore node_modules and build from frontend
frontend/node_modules/
frontend/.next/
frontend/out/

# Ignore build files from backend
backend/target/

# Ignore IDE files
*.iml
.idea/
.vscode/

# OS-specific
.DS_Store
Thumbs.db
